/* BUTTON VARIABLES */

/* Base button */
button,
button:visited,
.fio-button,
.fio-button:visited {
  --_background-color: var(--fio-sys-color-neutral-black);
  --_border-color: var(--fio-sys-color-neutral-black);
  --_border-width: var(--fio-sys-size-stroke-sm);
  --_border-radius: var(--fio-sys-size-radius-lg);
  --_text-color: var(--fio-sys-color-neutral-white);
  --_text-size: var(--fio-sys-typography-size-0);
  --_text-family: var(--fio-sys-typography-family-primary-bold);

  --_background-color--hover: var(--fio-sys-color-primary-normal);
  --_border-color--hover: var(--fio-sys-color-neutral-normal);
  --_text-color--hover: var(--_text-color);

  --_background-color--disabled: var(--fio-sys-color-neutral-light);
  --_border-color--disabled: var(--fio-sys-color-primary-light);
  --_text-color--disabled: var(--fio-sys-color-primary-light-active);

  background-color: var(--_background-color);
  border-color: var(--_border-color);
  border-width: var(--_border-width);
  border-radius: var(--_border-radius);
  border-style: solid;
  color: var(--_text-color);
  font-size: var(--_text-size);
  font-family: var(--_text-family);

  cursor: pointer;
  display: inline-block;
  padding: var(--fio-sys-size-padding-sm) var(--fio-sys-size-padding-md);
  text-align: center;
  text-decoration: none !important;
  line-height: 1;
}

button:hover,
button:focus,
button:active,
.fio-button:hover,
.fio-button:focus,
.fio-button:active {
  background-color: var(--_background-color--hover);
  border-color: var(--_border-color--hover);
  color: var(--_text-color--hover);
}

button:disabled,
button.disabled,
.fio-button:disabled,
.fio-button.disabled {
  background-color: var(--_background-color--disabled);
  border-color: var(--_border-color--disabled);
  color: var(--_text-color--disabled);
  cursor: not-allowed;
}

/* Button size */

.fio-button.button-sm {
  --_text-size: var(--fio-sys-typography-size--1);

  padding: var(--fio-sys-size-padding-xs) var(--fio-sys-size-padding-sm);
}

.fio-button.button-lg {
  --_text-size: var(--fio-sys-typography-size-1);

  padding: var(--fio-sys-size-padding-md) var(--fio-sys-size-padding-lg);
}

/* Primary button */

.fio-button.fio-button-primary,
.fio-button.fio-button-primary:visited {
  --_background-color: var(--fio-sys-color-primary-normal);
  --_border-color: var(--fio-sys-color-primary-normal);
  --_text-color: var(--fio-sys-color-neutral-white);
}

.fio-button.fio-button-primary:hover,
.fio-button.fio-button-primary:focus,
.fio-button.fio-button-primary:active {
  --_background-color--hover: var(--fio-sys-color-accent-dark);
  --_border-color--hover: var(--fio-sys-color-accent-dark);
  --_text-color--hover: var(--fio-sys-color-neutral-white);
}

.fio-button.fio-button-primary:disabled,
.fio-button.fio-button-primary.disabled {
  --_background-color--disabled: var(--fio-sys-color-neutral-light);
  --_border-color--disabled: var(--fio-sys-color-neutral-light);
  --_text-color--disabled: var(--fio-sys-color-neutral-light-active);
}

/* Secondary button */

.fio-button.fio-button-outline,
.fio-button.fio-button-outline:visited {
  --_background-color: transparent;
  --_border-color: var(--fio-sys-color-primary-normal);
  --_text-color: var(--fio-sys-color-primary-normal);
}

.fio-button.fio-button-outline:hover,
.fio-button.fio-button-outline:focus,
.fio-button.fio-button-outline:active {
  --_background-color--hover: transparent;
  --_border-color--hover: var(--fio-sys-color-accent-normal);
  --_text-color--hover: var(--fio-sys-color-accent-dark);
}

.fio-button.fio-button-outline:disabled,
.fio-button.fio-button-outline.disabled {
  --_background-color--disabled: transparent;
  --_border-color--disabled: var(--fio-sys-color-neutral-light-active);
  --_text-color--disabled: var(--fio-sys-color-neutral-light-active);
}

/* Tertiary button */

.fio-button.fio-button-text,
.fio-button.fio-button-text:visited {
  --_background-color: transparent;
  --_border-color: transparent;
  --_text-color: var(--fio-sys-color-primary-normal);
}

.fio-button.fio-button-text:hover,
.fio-button.fio-button-text:focus,
.fio-button.fio-button-text:active {
  --_background-color--hover: var(--fio-sys-color-accent-light);
  --_border-color--hover: var(--fio-sys-color-accent-light);
  --_text-color--hover: var(--fio-sys-color-accent-dark);
}

.fio-button.fio-button-text:disabled,
.fio-button.fio-button-text.disabled {
  --_background-color--disabled: transparent;
  --_border-color--disabled: transparent;
  --_text-color--disabled: var(--fio-sys-color-neutral-light-active);
}

/* Styled buttons */

.fio-button[rel="prev"] .material-symbols-rounded,
.fio-button[rel="next"] .material-symbols-rounded {
  font-weight: 900;
  transition: transform 0.2s ease-in-out;
  transform: translateX(0);
}

.fio-button[rel="prev"]:hover .material-symbols-rounded {
  transform: translateX(-25%);
}

.fio-button[rel="next"]:hover .material-symbols-rounded {
  transform: translateX(25%);
}

/* Primary text button */

.fio-button-text-primary {
  --_button-text-color-primary: var(--_button-color);
  --_button-text-color-primary--hover: var(--fio-sys-color-primary-dark);

  background-color: transparent;
  color: var(--_button-text-color-primary);
  border-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.fio-button-text-primary:hover {
  background-color: transparent;
  color: var(--_button-text-color-primary--hover);
  border-color: transparent;
}
/* .fio-button-text-primary:focus {
	outline-color: var(--_button-color-border--focus);
} */
.fio-button-text-primary:active {
  color: var(--fio-sys-color-accent-medium);
  background-color: transparent;
}

/* Secondary button */
.fio-button-secondary {
  --_button-color-secondary: transparent;
  --_button-color-secondary--hover: var(--fio-sys-color-accent-normal);
  --_button-text-color-secondary: var(--fio-sys-color-primary-normal);
  --_button-text-color-secondary--hover: var(--fio-sys-color-accent-normal);
  --_button-outline-color-secondary: var(--fio-sys-color-primary-normal);
  --_button-outline-color-secondary--hover: var(--fio-sys-color-accent-normal);
  --_button-color-secondary--active: var(--fio-sys-color-accent-dark);
  --_button-text-color-secondary--active: var(--fio-sys-color-neutral-white);

  background-color: var(--_button-color-secondary);
  color: var(--_button-outline-color-secondary);
  border: var(--fio-sys-size-stroke-md) solid var(--_button-outline-color-secondary);
}

.fio-button-secondary {
  background-color: transparent;
  color: var(--_button-outline-color-secondary);
  border: var(--fio-sys-size-stroke-md) solid var(--_button-outline-color-secondary);
}

.fio-button-secondary:hover {
  background-color: transparent;
  color: var(--_button-text-color-secondary--hover);
  border-color: var(--_button-outline-color-secondary--hover);
}

#modulo4 .fio-button-secondary:hover {
  color: var(--fio-sys-color-accent-dark);
  border-color: var(--fio-sys-color-accent-dark);
}

.fio-button-secondary:visited {
  background-color: transparent;
  color: var(--_button-color-secondary--active);
  border: var(--fio-sys-size-stroke-md) solid var(--_button-color-secondary--active);
}

.fio-button-secondary:focus {
  outline-color: var(--_button-color-border--focus);
}
.fio-button-secondary:active {
  background-color: transparent;
  color: var(--_button-color-secondary--active);
  border-color: var(--_button-color-secondary--active);
}

/* Secondary outline button */
/* .fio-button-outline-secondary {
	background-color: transparent;
	color: var(--_button-color-white) !important;
	border-color: var(--_button-color-white);
}
.fio-button-outline-secondary:hover,
.fio-button-outline-secondary:focus {
	background-color: var(--_button-color-primary--hover);
	color: var(--_button-color-white);
	border-color: var(--_button-color-white);
} */
/* .fio-button-outline-secondary:focus {
	outline-color: var(--_button-color-border--focus);
} */
/* .fio-button-outline-secondary:active {
	background-color: var(--_button-color-primary--active);
	border-color: var(--_button-color-white--active);
} */

/* Secondary text button */
/* .fio-button-text-secondary {
	background-color: transparent;
	color: var(--_button-color-white);
	border-color: transparent;
	text-decoration: none;
}
.fio-button-text-secondary:hover {
	background-color: transparent;
	color: var(--_button-color-white);
	border-color: var(--_button-text-color-white);
}
.fio-button-text-secondary:focus {
	outline-color: var(--_button-color-border--focus);
}
.fio-button-text-secondary:active {
	background-color: var(--_button-color-primary--active);
	color: var(--_button-color-white);
} */

/* Dropdown button */
.dropdown .dropdown-menu {
  background-color: var(--fio-sys-color-neutral-white);
  border-color: var(--fio-sys-color-primary-medium);
  border-radius: var(--fio-sys-spacing-border-radius-lg);
  border-width: var(--fio-sys-spacing-border-width-md);
  padding: var(--fio-sys-spacing-padding-sm) 0;
}
.dropdown .dropdown-menu .dropdown-item,
.dropdown .dropdown-menu .dropdown-item:visited {
  color: var(--fio-sys-color-accent-dark);
  padding: var(--fio-sys-spacing-padding-xs) var(--fio-sys-spacing-padding-md);
  text-wrap: wrap;
  font-size: var(--fio-sys-typography-paragraph-size);
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--fio-sys-color-accent-dark-contrast);
  text-decoration: none;
}
.dropdown .dropdown-menu .dropdown-item:active {
  background-color: var(--fio-sys-color-accent-dark);
  color: var(--fio-sys-color-accent-dark-contrast);
  text-decoration: none;
}
